<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{seances.title}"></title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="../../static/css/seances.css" th:href="@{/css/seances.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="/include/header :: header"></div>

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">

            <div class="seance-page-title col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h2 class="headline" th:text="#{seances.title}"></h2>
            </div>

            <div class="sorting-block col-xs-12 col-sm-12 col-md-12 col-lg-8">
<!--                <select id="select1" onchange="firstSelectFunction()">-->
<!--                    <option value="-1"><fmt:message key = "movies.all" /></option>-->
<!--                    <c:forEach var="movie" items="${movies}">-->
<!--                        <option <c:if test="${movieId == movie.id}">selected="selected"</c:if> value="${movie.id}">${movie.title}</option>-->
<!--                    </c:forEach>-->
<!--                </select>-->
                <select onchange="callback()" id="select2">
                    <option th:selected="${sortBy.equals('startDateEpochSeconds')}" value="startDateEpochSeconds" th:text="#{sorting.sortByDate}"></option>
                    <option th:selected="${sortBy.equals('freePlaces')}" value="freePlaces" th:text="#{sorting.sortBySeat}"></option>
                </select>
                <select onchange="callback()" id="select3">
                    <option th:selected="${sortDirection.equals('ASC')}" value="ASC" th:text="#{sorting.sortASC}"></option>
                    <option th:selected="${sortDirection.equals('DSC')}" value="DSC" th:text="#{sorting.sortDESC}"></option>
                </select>


                <script>
                    function callback(e){
                        selectElement = document.querySelector('#select2');
                        sortingOutput = selectElement.value;

                        selectElement = document.querySelector('#select3');
                        orderOutput = selectElement.value;

                        var src = "/seances?sortBy=" + sortingOutput + "&sortDirection=" + orderOutput;

                        window.location.href = src;
                    }
                </script>
            </div>



            <div th:if="${#lists.isEmpty(seances)}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="headline" th:text="#{movie.noSeances}"></h2>
            </div>

            <div th:each="seance : ${seances}">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a th:href="@{/movies/{id}(id=${seance.movie.id})}">
                        <div class="seance-item row">
                            <div class="left-side col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <img th:src="${seance.movie.getImagePath()}" alt="" width="170" height="257">
                            </div>
                            <div class="right-side col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <h3 th:text="${seance.movie.title}"></h3>
                                <h5>
                                    <span th:text="#{movieItem.startTime}"></span>
                                    <br th:text="${seance.getStartDateTime().toLocalDate()
                                    + ' ' + seance.getStartDateTime().toLocalTime()}">
                                </h5>
                                <h5>
                                    <span th:text="#{movieItem.endTime}"></span>
                                    <br th:text="${seance.getEndDateTime().toLocalDate()
                                    + ' ' + seance.getEndDateTime().toLocalTime()}">
                                </h5>
                                <h5>
                                    <span th:text="#{movieItem.freePlaces}"></span>
                                    <br th:text="${seance.freePlaces}">
                                </h5>
                                <a th:href="@{/seances/{id}(id=${seance.id})}">
                                    <button th:text="#{ticket.buy}" class="action-button">
                                    </button>
                                </a>
                            </div>

                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div th:if="${totalPages>1}" class="page-number-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="page-number-link" th:each="number : ${#numbers.sequence(1,totalPages)}"
               th:href="@{/seances?pageNum={num}&sortBy={sortBy}&sortDirection={sortDir}
               (num=${number-1}, sortBy=${sortBy}, sortDir=${sortDirection})}">
                <p class="page-number-item" th:text="${number}"></p>
            </a>

        </div>
        <div class="col-lg-2">

        </div>

    </body>
</html>