<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/ticketPage.css}" rel="stylesheet" />
        <title th:text="#{showtimes.title}"></title>
    </head>
    <body>
<!--        <div th:replace="/include/header :: header"></div>-->

        <div class="cardWrap">
            <div class="card cardLeft">
                <h1 th:text="#{header.title}"></h1>
                <div class="title">
                    <h2 th:text="${showtime.movie.title}"></h2>
                    <span th:text="#{ticket.movie}"></span>
                </div>
                <div class="name">
                    <h2 th:text="${user.name + ' ' + user.surname}"></h2>
                    <span th:text="#{ticket.name}"></span>
                </div>
                <div class="time">
                    <h2 th:text="${showtime.getStartDateTime().toLocalDate()
                                    + ' ' + showtime.getStartDateTime().toLocalTime()}">
                    </h2>
                    <span th:text="#{ticket.dateTime}"></span>
                </div>

            </div>
            <div class="card cardRight">
                <div class="eye"></div>
                <div class="number">
                    <h3 th:text="${rowId}"></h3>
                    <span th:text="#{ticket.row}"></span>
                    <h3 th:text="${placeId}"></h3>
                    <span th:text="#{ticket.place}"></span>
                </div>
            </div>

            <div class="col-lg-5">

            </div>


            <form th:method="POST" th:action="@{/showtimes/{id}/ticket(id=${showtime.id})}" th:object="${ticket}">
                <input type="hidden" name="row" th:value="${rowId}"/>
                <input type="hidden" name="place" th:value="${placeId}"/>

                <button class="action-button submit-button col-lg-1" type="submit" style="border: none;">
                        <h4 th:text="#{button.confirm}"></h4>
                </button>
            </form>

            <a th:href="@{/showtimes/{id}(id=${showtime.id})}">
                <div class="action-button decline-button col-lg-1">
                    <h4 th:text="#{button.decline}"></h4>
                </div>
            </a>

        </div>

        <div class="col-lg-5">
        </div>

    </body>
</html>