<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="#{admin.users}">Admin users list</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/style.css}" rel="stylesheet" />

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<div th:replace="/include/adminPanelHeader :: adminPanelHeader"></div>

<div class="container">
  <div class="row col-lg-12 custyle">
    <table class="table table-striped custab">
      <thead>
      <h2 class="headline" style="margin-bottom: 20px" th:text="#{admin.users}"></h2>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Role</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>

      <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surname}">Surname</td>
        <td th:text="${user.email}">email@gmail.com</td>
        <td th:text="${user.role}">User</td>

        <td th:if="${user.id != currentUser.id}" class="text-center"><a class='btn btn-info btn-xs' href="#">
          <span class="glyphicon glyphicon-edit"></span> <span th:text="#{button.edit}"></span></a>
        </td>

        <td th:if="${user.id != currentUser.id}" class="text-center">
          <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.id})}">
            <button th:data-confirm-delete="#{button.confirmText}"
                    onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                    class="command-button btn btn-danger btn-xs" type="submit">
              <span class="glyphicon glyphicon-remove"></span> <span th:text="#{button.delete}"></span>
            </button>
          </form>
        </td>

      </tr>
    </table>
  </div>
</div>
</body>
</html>