body {
    font-family: "Lato", sans-serif;
}

.film-page-title {
    float: left;
    text-align: left;
    margin-bottom: 40px;
}

.sorting-block {
    margin-top: 20px;
    text-align: right;
    float: right;
}

.sorting-block select {
    border: none;
    padding: 15px;
}
.film_item {
    color: #000;
    transition: 0.25s;
    text-align: center;
    margin-bottom: 10px;
}
h5 {
    font-weight: 400;
}

.film_item:hover {
    transform: scale(1.04);
}


@media screen and (max-width: 1200px){
    .film-page-title .headline {
        margin: 30px auto 0;
        padding: 0;
        text-align: center;
    }
    .sorting-block {
        text-align: center;
        padding-bottom: 20px;
    }
}
