.showtime-item {
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 0;
    color: #414141;
    margin-top: 40px;
}

.showtime-item .left-side {
    padding: 0;
}

.showtime-page-title {
    float: left;
    margin-left: -15px;
    color: black;
}
.showtime-item .right-side a {
    text-decoration: none;
    color: black;
}

.showtime-item .right-side h3 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
}

.showtime-item .right-side h5 span{
    color: rgba(10, 10, 10, 0.36);
}
.showtime-item .right-side h5 {
    font-size: 18px;
}


.showtime-item .action-button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    transition: 0.15s;
}
.showtime-item .action-button:hover {
    transform: scale(1.04);
}
.showtime-item .add-showtime h3{
    margin-top: 95px;
}

.sorting-block {
    text-align: right;
    margin-top: 20px;
}

.sorting-block select {
    border: none;
    padding: 15px;
}
.sorting-block button {
    background-color: black;
    color: white;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border:none;
    border-radius: 3px;
    transition: 0.15s;
}
.sorting-block button:hover {
    transform: scale(1.04);
}


@media screen and (max-width: 1200px){
    .showtime-page-title {
        text-align: center;
    }
    .sorting-block {
        text-align: center;
    }
}