<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link th:href="@{/css/movies.css}" rel="stylesheet" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <title th:text="#{movies.title}"></title>
    </head>
    <body>
        <div th:replace="/include/header :: header"></div>

        <div class="col-lg-1"></div>

        <div class="film-page-title col-lg-10">
            <h2 class="headline" th:text="#{movies.headline}"></h2>

        <div class="film-items col-xs-12 col-sm-12 col-md-10 col-lg-12">
                <div th:each="movie : ${movies}">
                    <a th:href="@{/movies/{id}(id=${movie.getId()})}">
                        <div class = "film_item col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="poster">
                                <img th:src="${movie.getImagePath()}" alt="" width="218" height="322">
                            </div>
                            <div class="film_item_body">
                                <h5 th:text="${movie.getTitle()}"></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div th:if="${totalPages>1}" class="page-number-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="page-number-link" th:each="number : ${#numbers.sequence(1,totalPages)}"
               th:href="@{/movies?pageNum={num}(num=${number-1})}">
                <p class="page-number-item" th:text="${number}"></p>
            </a>
        </div>

        <div class="col-lg-1"></div>
    </body>
</html>