<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{movies.title}"></title>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="../../static/css/movie.css" th:href="@{/css/movie.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="/include/header :: header"></div>

        <div class="col-sm-0 col-md-0 col-lg-1">

        </div>

        <div class="col-sm-12 col-md-12 col-lg-11">
            <div class="film-body">

                <div class="left-half">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <h3 th:text="${movie.title}" class="movie-title"></h3>
                        <img th:src="${movie.imagePath}" alt="">
                    </div>
                </div>



                <div class="bottom-block">

                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h2 th:if="${!seancesByDates.isEmpty()}" th:text="#{movie.seances}" class="seances-headline"></h2>
                        <h2 th:if="${seancesByDates.isEmpty()}" th:text="#{movie.noSeances}" class="seances-headline"></h2>

                        <div th:each="date : ${seancesByDates}">
                            <div class="day-item">
                                <h5>
                                    <span th:text="${date.key.getDayOfMonth()}"></span>
                                    <span th:text="#{${date.key.getMonth()}}"></span>
                                </h5>

                                <div style="display: inline" th:each="seance : ${date.value}">
                                    <a th:href="@{/seances/{id}(id=${seance.id})}" type="button">
                                        <button th:text="${seance.getStartDateTime().toLocalTime().toString()}"></button>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


                <div class="right-half">

                    <div class="col-sm-12 col-md-4 col-lg-12">
                        <h3 th:text="#{movieItem.about}" class = "about-line"></h3>
                        <h4><span th:text="#{movieItem.year}"></span> <br th:text="${movie.productionYear}"></h4>
                        <h4><span th:text="#{movieItem.director}"></span> <br th:text="${movie.director}"></h4>
                        <h4><span th:text="#{movieItem.genre}"></span> <br th:text="${movie.genre.name}"></h4>
                        <h4><span th:text="#{movieItem.age}"></span> <br th:text="${movie.ageRestriction} + '+'"></h4>
                        <h4><span th:text="#{movieItem.duration}"></span> <br th:text="${movie.duration} + ' ' + #{movieItem.minutes}"></h4>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>