<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{profile.title}"></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="/include/header :: header"></div>

    <div class="col-lg-4">

    </div>

    <div style="margin-top: 50px" class="col-lg-4">
        <form th:action="@{/profile/update/password}" th:object="${user}" th:method="PATCH">
            <div class="form-group">
                <label th:text="#{signUp.password}"></label>
                <input name="password" type="text"
                       required pattern="^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$"
                       th:placeholder="#{field.password}" class="form-control"/>
            </div>

            <div class="form-group">
                <label th:text="#{edit.passwordConfirmation}"></label>
                <input name="confirmationPassword" type="password" class="form-control" placeholder="********">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <button type="submit" class="btn btn-black" th:text="#{edit.save}"></button>

        </form>
    </div>
    <div class="col-lg-4">

    </div>

</body>
</html>